@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
.box-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.box-socials .box-link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 160px;
  height: 43px;
  padding: 8px 35px;
  color: #ffffff;
  border: 3px solid transparent;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-color: #ffffff;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
  text-decoration: none;
}
.box-socials .box-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.box-socials .box-link-fb {
  border-color: #1f4c6a;
}
.box-socials .box-link-fb::before {
  width: 13px;
  height: 23px;
  background: url(../img/icons/facebook_blue.png) no-repeat;
}
.box-socials .box-link-fb:hover {
  background: #1f4c6a;
}
.box-socials .box-link-fb:hover::before {
  background: url(../img/icons/facebook.png) no-repeat;
}
.box-socials .box-link-tweet {
  border-color: #2ba4f5;
}
.box-socials .box-link-tweet::before {
  width: 25px;
  height: 21px;
  background: url(../img/icons/tweet_blue.png) no-repeat;
}
.box-socials .box-link-tweet:hover {
  background: #2ba4f5;
}
.box-socials .box-link-tweet:hover::before {
  background: url(../img/icons/twet.png) no-repeat;
}
.box-socials .box-link-comment {
  width: 40%;
  padding: 8px 20px;
  border-color: #0083b3;
  color: #0083b3;
}
.box-socials .box-link-comment::before {
  left: 25px;
  width: 20px;
  height: 20px;
  background: url(../img/icons/comment-icon.png) no-repeat;
}
.box-socials .box-link-comment:hover {
  color: #ffffff;
  background: #0083b3;
}
.box-socials .box-link-comment:hover::before {
  width: 23px;
  height: 23px;
  background: url(../img/icons/comment-white.png) no-repeat;
}
.box-socials .box-link-comment::after {
  content: '';
  position: absolute;
  top: 65%;
  left: 75%;
  width: 1px;
  height: 50%;
  background-color: #0083b3;
  -webkit-transform: translate(-65%, -75%);
  -moz-transform: translate(-65%, -75%);
  -ms-transform: translate(-65%, -75%);
  -o-transform: translate(-65%, -75%);
  transform: translate(-65%, -75%);
}
.box-socials .box-link .box-link-number {
  display: block;
  margin-left: 25px;
}
.filter {
  top: 8px;
  position: relative;
}
.filter .filter-column {
  display: inline-block;
}
.filter label {
  display: inline-block;
  font-size: 17px;
  color: #1f4c6a;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  line-height: 29px;
}
.filter .filter_news_custom_select {
  display: inline-block;
  position: relative;
  color: #2ba4f5;
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  margin-left: 12px;
  margin-right: 21px;
  line-height: 29px;
}
.filter .filter_news_custom_select b {
  position: relative;
  left: 3px;
}
.filter .filter_news_custom_select .filter_news_custom_option {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 180px;
  background: #fefefe;
  padding: 15px;
  border-radius: 0 0 14px 14px;
}
.filter .filter_news_custom_select .filter_news_custom_option li {
  padding: 5px;
}
.filter .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.filter .select {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 18px;
  margin-left: 10px;
  color: #2ba4f5;
  font-weight: 600;
  cursor: pointer;
}
.filter .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.filter .select-styled::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 40px;
  border: solid #000a1d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.filter .select-options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 15px;
  list-style: none;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 14px 14px;
  -moz-border-radius: 0 0 14px 14px;
  border-radius: 0 0 14px 14px;
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}
.filter .select-options li {
  margin: 0;
  padding: 5px;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  line-height: 2;
}
.filter .select-options li:hover {
  color: #1f4c6a;
}
.filter .select-options li[rel="hide"] {
  display: none;
}
.box-pagination {
  margin-top: 41px;
  margin-bottom: 20px;
  text-align: center;
}
.box-pagination .pagination {
  max-width: 225px;
  margin: auto;
}
.box-pagination .pagination .active {
  color: #1f4c6a;
}
.box-pagination .pagination .active a {
  color: #1f4c6a;
}
.box-pagination .pagination li {
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  color: #2ba4f5;
  padding: 0 12.3px;
}
.box-pagination .pagination li:hover {
  color: #1f4c6a;
}
.box-pagination .pagination li:hover a {
  color: #1f4c6a;
}
.box-pagination .pagination li a {
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  color: #2ba4f5;
  text-decoration: none;
}
