@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
.news-feed-page {
  position: relative;
  max-width: 1920px;
  min-height: 100%;
  margin: auto;
  background: url('../img/news-photo-page_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 261px;
}
.news-feed-page .content {
  max-width: 1170px;
  margin: auto;
  margin-top: 190px;
  padding-top: 35px;
}
.news-feed-page .content .row {
  max-width: 1170px;
}
.news-feed-page .content .row main.page-center-column {
  position: relative;
  left: -20px;
  padding: 0;
}
.news-feed-page .content .row main.page-center-column h1.heading {
  position: relative;
  left: 17px;
  display: inline-block;
  min-width: 250px;
  padding: 12px 30px;
  font-size: 19px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans", Tahoma, sans-serif;
  background: #1f4c6a;
  border-radius: 0 30px 30px 0;
}
.news-feed-page .content .row main.page-center-column h1.heading:before {
  content: url('../img/icons/ul-label-nav.png');
  position: absolute;
  z-index: 2;
  top: 0;
  left: -30px;
}
.news-feed-page .content .row main.page-center-column .filter {
  top: 8px;
  position: relative;
}
.news-feed-page .content .row main.page-center-column .filter label {
  display: inline-block;
  font-size: 17px;
  color: #1f4c6a;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  line-height: 29px;
}
.news-feed-page .content .row main.page-center-column .filter .filter_news_custom_select {
  display: inline-block;
  position: relative;
  color: #2ba4f5;
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  margin-left: 12px;
  margin-right: 21px;
  line-height: 29px;
}
.news-feed-page .content .row main.page-center-column .filter .filter_news_custom_select b {
  position: relative;
  left: 3px;
}
.news-feed-page .content .row main.page-center-column .filter .filter_news_custom_select .filter_news_custom_option {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 180px;
  background: #fefefe;
  padding: 15px;
  border-radius: 0 0 14px 14px;
}
.news-feed-page .content .row main.page-center-column .filter .filter_news_custom_select .filter_news_custom_option li {
  padding: 5px;
}
.news-feed-page .content .row main.page-center-column .news-line {
  margin-top: 17px;
  margin-bottom: 20px;
}
.news-feed-page .content .row main.page-center-column .news-line .box {
  padding: 15px 0;
  border-top: 3px solid #5e98bd;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-links .box-link {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 160px;
  padding: 10px 35px;
  color: #ffffff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-links .box-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 50%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-links .box-link-fb {
  background-color: #1f4c6a;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-links .box-link-tweet {
  background-color: #2ba4f5;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-links .box-link-comment {
  width: 40%;
  padding: 10px 20px;
  background-color: #0083b3;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-links .box-link-comment::before {
  left: 75%;
}
.news-feed-page .content .row main.page-center-column .news-line .box a {
  text-decoration: none;
}
.news-feed-page .content .row main.page-center-column .news-line .box a .title:hover {
  color: #2ba4f5;
}
.news-feed-page .content .row main.page-center-column .news-line .box .title {
  display: inline-block;
  color: #1f4c6a;
  font-size: 18.75px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  margin: 0;
  line-height: 26px;
  padding-left: 2px;
  transition: 0.3s ease-in-out;
  margin-bottom: 15px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .calendar-table {
  width: 100%;
  color: #ffffff;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
}
.news-feed-page .content .row main.page-center-column .news-line .box .calendar-table td {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.news-feed-page .content .row main.page-center-column .news-line .box .calendar-table-head tr {
  background-color: #1f4c6b;
  text-transform: uppercase;
  font-size: 18px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .calendar-table-body tr {
  font-size: 15px;
  background-color: #5d97bd;
}
.news-feed-page .content .row main.page-center-column .news-line .box .calendar-table-body tr.highlight {
  opacity: .5;
}
.news-feed-page .content .row main.page-center-column .news-line .box .list-part ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news-feed-page .content .row main.page-center-column .news-line .box .list-part li {
  position: relative;
  color: #8b8b8b;
  margin-bottom: 10px;
  padding-left: 15px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .list-part li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -4px;
  background-color: #2da8f8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-button {
  display: inline-block;
  margin-top: 20px;
  color: #1f4c6a;
  font-size: 18.75px;
  line-height: 35px;
  font-weight: 600;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-button:hover {
  text-decoration: none;
  color: #5694bb;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-head {
  margin-bottom: 20px;
  font-weight: 600;
  color: #009df4;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-head-more {
  float: right;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-head-more span {
  position: relative;
  padding-left: 30px;
  margin-left: 20px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-head-watch::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/eye-icon.png);
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-head-comment::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/comment-icon.png);
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item {
  margin-bottom: 15px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item iframe {
  width: 100%;
  height: 325px;
  border: none;
  background-color: #1f4c6b;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item p {
  width: 100%;
  margin: 10px 0;
  color: #7b7b7b;
  font-size: 16.67px;
  font-weight: 300;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item .box-item-content span {
  display: inline-block;
  margin-top: 10px;
  color: #7b7b7b;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item .box-item-content a.box-link-share {
  display: inline-block;
  float: right;
  margin-top: 10px;
  position: relative;
  padding-right: 26px;
  font-weight: 600;
  color: #009df4;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item .box-item-content a.box-link-share:hover {
  color: #1f4c6a;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item .box-item-content a.box-link-share::after {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  width: 18px;
  height: 15px;
  background-image: url(../img/icons/arrow-share.png);
  background-repeat: no-repeat;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item img {
  width: 100%;
  height: 325px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item .image-part-descr {
  margin: 15px 0;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item .image-part-link {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: #1f4c6a;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item .image-part-link:hover {
  color: #009df4;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body .box-item .image-part-link span {
  color: #009df4;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body-more {
  font-size: 15px;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body-more p {
  width: 100%;
  margin: 10px 0;
  color: #7b7b7b;
  font-size: 16.67px;
  font-weight: 300;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body-more .read-more-text {
  font-weight: 600;
  color: #009df4;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body-more a {
  font-weight: 600;
  text-decoration: none;
  color: #1f4c6a;
  font-size: 15px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body-more a:hover {
  color: #009df4;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body-more .read-more-link {
  position: relative;
  display: block;
  width: 100%;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body-more .read-more-link::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  width: 23px;
  height: 17px;
  background: url(../img/icons/arrow_read-more.png) no-repeat;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.news-feed-page .content .row main.page-center-column .news-line .box .box-body-more .read-more-link:hover::after {
  background: url(../img/icons/arrow_read-more-hov.png) no-repeat;
}
.news-feed-page .content .row main.page-center-column .news-line .box .text-part .text {
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 16.67px;
  font-weight: 300;
  color: #8b8b8b;
}
.news-feed-page .content .row main.page-center-column .news-line .box.last {
  border-bottom: 3px solid #5e98bd;
}
.news-feed-page .content .row main.page-center-column .news-line .news-line-tags {
  margin-top: 20px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
}
.news-feed-page .content .row main.page-center-column .news-line .news-line-tags span {
  font-size: 15px;
  color: #01a0fb;
}
.news-feed-page .content .row main.page-center-column .news-line .news-line-tags a {
  margin-right: 5px;
  text-decoration: none;
  color: #1f4c6b;
}
.news-feed-page .content .row main.page-center-column .news-line .news-line-join {
  margin: 10px 0;
  color: #1f4c6a;
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
}
.news-feed-page .content .row main.page-center-column .news-line .news-line-stuff {
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
}
.news-feed-page .content .row main.page-center-column .news-line .news-line-stuff span {
  font-size: 15px;
  color: #009df4;
}
.news-feed-page .content .row main.page-center-column .news-line .news-line-stuff a {
  margin-right: 5px;
  text-decoration: none;
  color: #1f4c6a;
}
