@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
.search-page {
  position: relative;
  max-width: 1920px;
  min-height: 100%;
  margin: auto;
}
.search-page .content {
  max-width: 1170px;
  margin: auto;
  padding-top: 35px;
}
.search-page .content .row {
  max-width: 1170px;
}
.search-page .content .row main.page-center-column {
  position: relative;
  left: -20px;
  padding: 0;
}
.search-page .content .row main.page-center-column h1.heading {
  position: relative;
  left: 17px;
  display: inline-block;
  min-width: 250px;
  padding: 12px 30px;
  font-size: 19px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans", Tahoma, sans-serif;
  background: #1f4c6a;
  border-radius: 0 30px 30px 0;
}
.search-page .content .row main.page-center-column h1.heading:before {
  content: url('../img/icons/ul-label-nav.png');
  position: absolute;
  z-index: 2;
  top: 0;
  left: -30px;
}
.search-page .content .row main.page-center-column .filter {
  top: 8px;
  position: relative;
}
.search-page .content .row main.page-center-column .filter label {
  display: inline-block;
  font-size: 17px;
  color: #1f4c6a;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  line-height: 29px;
}
.search-page .content .row main.page-center-column .filter .filter_news_custom_select {
  display: inline-block;
  position: relative;
  color: #2ba4f5;
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  margin-left: 12px;
  margin-right: 21px;
  line-height: 29px;
}
.search-page .content .row main.page-center-column .filter .filter_news_custom_select b {
  position: relative;
  left: 3px;
}
.search-page .content .row main.page-center-column .filter .filter_news_custom_select .filter_news_custom_option {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 180px;
  background: #fefefe;
  padding: 15px;
  border-radius: 0 0 14px 14px;
}
.search-page .content .row main.page-center-column .filter .filter_news_custom_select .filter_news_custom_option li {
  padding: 5px;
}
.search-page .content .row main.page-center-column .news-line {
  margin-top: 17px;
  margin-bottom: 20px;
}
.search-page .content .row main.page-center-column .news-line .box {
  position: relative;
  padding: 15px 0;
  border-top: 3px solid #5e98bd;
}
.search-page .content .row main.page-center-column .news-line .box:hover .read-more {
  background: url('../img/icons/arrow_read-more-hov.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 17px;
}
.search-page .content .row main.page-center-column .news-line .box a {
  text-decoration: none;
}
.search-page .content .row main.page-center-column .news-line .box a .title:hover {
  color: #2ba4f5;
}
.search-page .content .row main.page-center-column .news-line .box .text-part.without-img {
  max-width: 100%;
  padding-left: 0;
  outline: none;
}
.search-page .content .row main.page-center-column .news-line .box .text-part.without-img .title {
  margin-bottom: 0;
}
.search-page .content .row main.page-center-column .news-line .box .text-part.without-img .data {
  margin-top: 5px;
}
.search-page .content .row main.page-center-column .news-line .box .text-part.without-img .text {
  margin-top: 0;
}
.search-page .content .row main.page-center-column .news-line .box .read-more {
  position: absolute;
  right: 0;
  bottom: 15px;
  display: block;
  width: 23px;
  height: 17px;
  outline: none;
  background: url('../img/icons/arrow_read-more.png') no-repeat;
  transition: 0.3s ease-in-out;
}
.search-page .content .row main.page-center-column .news-line .box .read-more:hover {
  background: url('../img/icons/arrow_read-more-hov.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 17px;
}
.search-page .content .row main.page-center-column .news-line .box-content {
  display: inline-flex;
  justify-content: space-between;
}
.search-page .content .row main.page-center-column .news-line .box-content .img {
  max-width: 245px;
}
.search-page .content .row main.page-center-column .news-line .box-content .text-part {
  flex: 1;
  padding-left: 17px;
}
.search-page .content .row main.page-center-column .news-line .box-content .text-part a {
  text-decoration: none;
}
.search-page .content .row main.page-center-column .news-line .box-content .text-part .title {
  display: inline-block;
  color: #1f4c6a;
  font-size: 18.75px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  margin: 0;
  line-height: 26px;
  padding-left: 2px;
  transition: 0.3s ease-in-out;
  margin-bottom: 15px;
}
.search-page .content .row main.page-center-column .news-line .box-content .text-part .data {
  margin: 0;
  color: #2ba4f5;
  padding-left: 2px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.search-page .content .row main.page-center-column .news-line .box-content .text-part .data:hover {
  color: #1f4c6a;
}
.search-page .content .row main.page-center-column .news-line .box-content .text-part .text {
  color: #7b7b7b;
  font-size: 16.67px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 22px;
}
.search-page .content .row main.page-center-column .news-line .box.last {
  border-bottom: 3px solid #5e98bd;
}
.search-page .content .row main.page-center-column .news-line .box-pagination {
  margin-top: 41px;
  margin-bottom: 20px;
  text-align: center;
}
.search-page .content .row main.page-center-column .news-line .box-pagination .pagination {
  max-width: 225px;
  margin: auto;
}
.search-page .content .row main.page-center-column .news-line .box-pagination .pagination .active {
  color: #1f4c6a;
}
.search-page .content .row main.page-center-column .news-line .box-pagination .pagination .active a {
  color: #1f4c6a;
}
.search-page .content .row main.page-center-column .news-line .box-pagination .pagination li {
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  color: #2ba4f5;
  padding: 0 12.3px;
}
.search-page .content .row main.page-center-column .news-line .box-pagination .pagination li:hover {
  color: #1f4c6a;
}
.search-page .content .row main.page-center-column .news-line .box-pagination .pagination li:hover a {
  color: #1f4c6a;
}
.search-page .content .row main.page-center-column .news-line .box-pagination .pagination li a {
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  color: #2ba4f5;
  text-decoration: none;
}
.search-page .select-styled::after {
  right: 30px;
}
