@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
.blog-page {
  position: relative;
  max-width: 1920px;
  min-height: 100%;
  margin: auto;
}
.blog-page .content {
  max-width: 1170px;
  margin: auto;
  padding-top: 35px;
}
.blog-page .content .row {
  max-width: 1170px;
}
.blog-page .content .row main.page-center-column {
  position: relative;
  left: -20px;
  padding: 0;
}
.blog-page .content .row main.page-center-column h1.heading {
  position: relative;
  left: 17px;
  display: inline-block;
  min-width: 250px;
  padding: 12px 30px;
  font-size: 19px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans", Tahoma, sans-serif;
  background: #1f4c6a;
  border-radius: 0 30px 30px 0;
}
.blog-page .content .row main.page-center-column h1.heading:before {
  content: url('../img/icons/ul-label-nav.png');
  position: absolute;
  z-index: 2;
  top: 0;
  left: -30px;
}
.blog-page .content .row main.page-center-column .filter {
  top: 8px;
  position: relative;
}
.blog-page .content .row main.page-center-column .filter label {
  display: inline-block;
  font-size: 17px;
  color: #1f4c6a;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  line-height: 29px;
}
.blog-page .content .row main.page-center-column .filter .filter_news_custom_select {
  display: inline-block;
  position: relative;
  color: #2ba4f5;
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  margin-left: 12px;
  margin-right: 21px;
  line-height: 29px;
}
.blog-page .content .row main.page-center-column .filter .filter_news_custom_select b {
  position: relative;
  left: 3px;
}
.blog-page .content .row main.page-center-column .filter .filter_news_custom_select .filter_news_custom_option {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 180px;
  background: #fefefe;
  padding: 15px;
  border-radius: 0 0 14px 14px;
}
.blog-page .content .row main.page-center-column .filter .filter_news_custom_select .filter_news_custom_option li {
  padding: 5px;
}
.blog-page .content .row main.page-center-column .news-line {
  margin-top: 17px;
  margin-bottom: 20px;
}
.blog-page .content .row main.page-center-column .news-line .box {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px 0;
  border-top: 3px solid #5e98bd;
}
.blog-page .content .row main.page-center-column .news-line .box .learn-more-link {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 23px;
  height: 17px;
  background: url(../img/icons/arrow_read-more.png) no-repeat;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.blog-page .content .row main.page-center-column .news-line .box:hover .learn-more-link {
  background: url(../img/icons/arrow_read-more-hov.png) no-repeat;
}
.blog-page .content .row main.page-center-column .news-line .box a {
  text-decoration: none;
}
.blog-page .content .row main.page-center-column .news-line .box a .title:hover {
  color: #2ba4f5;
}
.blog-page .content .row main.page-center-column .news-line .box .img {
  float: left;
  outline: none;
  overflow: hidden;
  max-height: 175px;
}
.blog-page .content .row main.page-center-column .news-line .box .text-part {
  display: inline-block;
  max-width: 325px;
  padding-left: 15px;
}
.blog-page .content .row main.page-center-column .news-line .box .text-part a {
  text-decoration: none;
}
.blog-page .content .row main.page-center-column .news-line .box .text-part .title {
  display: inline-block;
  color: #1f4c6a;
  font-size: 18.75px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  margin: 0;
  line-height: 26px;
  transition: 0.3s ease-in-out;
  margin-bottom: 10px;
}
.blog-page .content .row main.page-center-column .news-line .box .text-part .data {
  margin: 0;
  color: #2ba4f5;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  margin-bottom: 10px;
}
.blog-page .content .row main.page-center-column .news-line .box .text-part .data:hover {
  color: #1f4c6a;
}
.blog-page .content .row main.page-center-column .news-line .box .text-part .box-more {
  position: absolute;
  bottom: 20px;
  font-weight: 600;
  color: #009df4;
}
.blog-page .content .row main.page-center-column .news-line .box .text-part .box-more span {
  position: relative;
  padding-left: 30px;
}
.blog-page .content .row main.page-center-column .news-line .box .text-part .box-more-watch::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/eye-icon.png);
}
.blog-page .content .row main.page-center-column .news-line .box .text-part .box-more-comment {
  margin-left: 20px;
}
.blog-page .content .row main.page-center-column .news-line .box .text-part .box-more-comment::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/comment-icon.png);
}
.blog-page .content .row main.page-center-column .news-line .box.last {
  border-bottom: 3px solid #5e98bd;
}
.blog-page .content .row main.page-center-column .news-line .box-pagination {
  margin-top: 41px;
  margin-bottom: 20px;
  text-align: center;
}
.blog-page .content .row main.page-center-column .news-line .box-pagination .pagination {
  max-width: 225px;
  margin: auto;
}
.blog-page .content .row main.page-center-column .news-line .box-pagination .pagination .active {
  color: #1f4c6a;
}
.blog-page .content .row main.page-center-column .news-line .box-pagination .pagination .active a {
  color: #1f4c6a;
}
.blog-page .content .row main.page-center-column .news-line .box-pagination .pagination li {
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  color: #2ba4f5;
  padding: 0 12.3px;
}
.blog-page .content .row main.page-center-column .news-line .box-pagination .pagination li:hover {
  color: #1f4c6a;
}
.blog-page .content .row main.page-center-column .news-line .box-pagination .pagination li:hover a {
  color: #1f4c6a;
}
.blog-page .content .row main.page-center-column .news-line .box-pagination .pagination li a {
  font-size: 17px;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 600;
  color: #2ba4f5;
  text-decoration: none;
}
.blog-page aside.page-right-column .content-box .quiz,
.blog-page aside.page-right-column .content-box .tracing.blogs {
  display: none;
}
