extends pug/layout/main

block title
	| Блог

	- var page = "blog-inner"

block content
	// Основной контент
	main.page-center-column.col-lg-6
		h1.heading Блоги
		.news-line
			.box.box-video
				h2.title У Раді хочуть саджати на 3 роки українських артистів за виступи в Росії. ВІДЕО
				.box-head
					time(datetime='2017-07-07T17:30') 07.07.2017 17:30
					.box-head-more
						span.box-head-watch 250
						span.box-head-comment 0
				.box-body
					iframe(height='300', src='https://www.youtube.com/embed/mmVCm4OkkZk', allowfullscreen='')
			.box.box-news
				.box-body
					.row.box-body-head
						.col-lg-5.image-block
							img(src='img/sidebar/news-line_photo.png', width='243', height='218', alt='Image')
						.col-lg-7.text-block
							h3 Вікторія Куценко, журналіст «Магнолія-ТВ»
							a(href='#') Усі статті автора
					.box-body-content
						p
							| Народні депутати пропонують ввести кримінальну відповідальність за виступи українських артистів в Російській Федерації. Відповідний законопроект уже зареєстрували у Верховній Раді. Покарання – до 3-х років.
							br
							|                        З юридичної точки зору, якщо цей законопроект приймуть, артисти на цілком ґрунтовних підставах зможуть звертатись до суду, і навіть подавати позови про захист честі та гідності.
				.box-socials
					a.box-link.box-link-fb(href='javascript:void(0);')
					a.box-link.box-link-tweet(href='javascript:void(0);')
					a.box-link.box-link-comment(href='javascript:void(0);')
						span Коментувати
						span.box-link-number 203
				.box-body
					.box-body-content
						p
							| Водночас правозахисники кажуть – це порушення прав артистів. Більше того, з юридичної точки
							| зору, якщо цей законопроект приймуть, артисти на цілком ґрунтовних підставах зможуть звертатись
							| до суду, і навіть подавати позови про захист честі та гідності.
						span.box-content-question А як вважаєте ви?
			.box.box-quiz
				h2.title
					| Чи потрібно ввести кримінальну відповідальність для українських артистів за виступи в Росії?
				.box-head
					time(datetime='2017-07-07T17:30') 07.07.2017 17:30
				.box-body
					.quiz-form.form
						p Варіанти відповіді:
						form(action='#', method='post')
							.quiz-form-input
								input#quiz-yes(name='quiz-question', type='radio', value='yes')
								label(for='quiz-yes') Так
							.quiz-form-input
								input#quiz-no(name='quiz-question', type='radio', value='no', checked='')
								label(for='quiz-no') Ні
							.quiz-form-input
								input#quiz-other(name='quiz-question', type='radio', value='other')
								label(for='quiz-other') Інша думка
							button.quiz-form-btn(type='submit') Голосувати
			.box.last.box-tags
				.box-socials
					a.box-link.box-link-fb(href='javascript:void(0);')
					a.box-link.box-link-tweet(href='javascript:void(0);')
					a.box-link.box-link-comment(href='javascript:void(0);')
						span Коментувати
						span.box-link-number 203
				.news-line-tags
					span Теги:
					a(href='javascript:void(0);') ЧП.INFO
					a(href='javascript:void(0);') Онлайн трансляція
				.primary-breadcrumbs
					ul
						li
							a(href='index.html') Головна
						li.active
							span ЧП.INFO
			.news-line-form.comment-form
				.box-head
					h2.title написати листа
				p Якщо Ви бажаєте повідомити новину….
				form(action='#')
					.news-line-form-block
						label(for='user-name') Ім'я
						input#user-name(name='usr-name', type='text', required='')
					.news-line-form-block
						label(for='user-message') Ваше повідомлення:
						textarea#user-message(name='usr-message')
					.news-line-form-block.news-line-form-block--captcha
						label(for='user-captcha') Введіть код
						.captcha-img
							img(src='img/captcha.jpg', width='264', height='73', alt='Captcha image')
						input#user-captcha(name='usr-captcha', type='text', required='')
					button(type='submit') надіслати
			.box.box-comment
				h2.title
					| Коментарі:
					span.comments-count 25
				.box-body
					.box-comment-image
						img(src='img/user-image.jpg', width='189', height='129', alt='User image')
					.box-comment-content
						.comment-head
							strong Саша 1945
							time(datetime='2017-07-07T17:30') 07.07.2017 17:30
						.comment-text
							p чим артист відрізняється від заробітчанина?, закон один для всіх
						a.answer-link(href='#') Відповісти
			.box.last.box-comment.box-comment--last
				.box-body
					.box-comment-image
						img(src='img/user-image.jpg', width='189', height='129', alt='User image')
					.box-comment-content
						.comment-head
							strong Саша 1945
							time(datetime='2017-07-07T17:30') 07.07.2017 17:30
						.comment-text
							p
								| молитва для нардепів...Хазяїн Наш Мамона, той кому ми ревні слуги! Нехай навіки у владі , як всі ці роки, буде царство Твоє ! Нехай всі у владі виконують волю Твою ! Хліб насушний відбери у кожного українця і нам віддай! Прости нам нашу мерзотність , а невинуватих покарай ! Не введи лохторат наш у спокусу розігнати нас, та визволи від борців із корупцією! Бо вірно ми служимо, щоб твоє царство і сила і слава, а наші прибутки були навіки! Амінь!
						a.answer-link(href='#') Відповісти
