extends pug/layout/main

block title
	| Думка експерта

	- var page = "experts"

block content
	// Основной контент
	main.page-center-column.col-lg-6
		h1.heading Думка експерта
		.filter
			form(action='#', method='post')
				label Переглянути за:
				select.filter-news-select(name='author')
					option(value='hide') Автором
					option(value='author-1') Автором
					option(value='author-2') Автором
					option(value='author-3') Автором
		.news-line
			.box
				.img
					a(href='javascript:void(0);')
						img(src='img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a(href='#')
						p.title
							| Валентин Гладких
							br
							|  Кандидат філософських наук,
							br
							|  експерт ГО «Слово і Діло»
					p.data 06.07.2017 17:30
					a.sublink(href='#')
						| Чи зможе суд довести держзраду Януковича?
				a.learn-more-link(href='#')
			.box
				.img
					a(href='javascript:void(0);')
						img(src='img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a(href='#')
						p.title
							| Валентин Гладких
							br
							|  Кандидат філософських наук,
							br
							|  експерт ГО «Слово і Діло»
					p.data 06.07.2017 17:30
					a.sublink(href='#')
						| Чи зможе суд довести держзраду Януковича?
				a.learn-more-link(href='#')
			.box
				.img
					a(href='javascript:void(0);')
						img(src='img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a(href='#')
						p.title
							| Валентин Гладких
							br
							|  Кандидат філософських наук,
							br
							|  експерт ГО «Слово і Діло»
					p.data 06.07.2017 17:30
					a.sublink(href='#')
						| Чи зможе суд довести держзраду Януковича?
				a.learn-more-link(href='#')
			.box
				.img
					a(href='javascript:void(0);')
						img(src='img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a(href='#')
						p.title
							| Валентин Гладких
							br
							|  Кандидат філософських наук,
							br
							|  експерт ГО «Слово і Діло»
					p.data 06.07.2017 17:30
					a.sublink(href='#')
						| Чи зможе суд довести держзраду Януковича?
				a.learn-more-link(href='#')
			.box.last
				.img
					a(href='javascript:void(0);')
						img(src='img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a(href='#')
						p.title
							| Валентин Гладких
							br
							|  Кандидат філософських наук,
							br
							|  експерт ГО «Слово і Діло»
					p.data 06.07.2017 17:30
					a.sublink(href='#')
						| Чи зможе суд довести держзраду Януковича?
				a.learn-more-link(href='#')
			.text-center.box-pagination
				ul.pagination
					li.prev
						a(href='javascript:void(0);') <
					li
						a(href='javascript:void(0);') 1
					li
						a(href='javascript:void(0);') 2
					li
						a(href='javascript:void(0);') 3
					li
						a(href='javascript:void(0);') 4
					li.active
						a(href='javascript:void(0);') 5
					li.next
						a(href='javascript:void(0);') >
