extends pug/layout/main

block title
	| Стрічка новин

	- var page = "news"

block content
	// Основной контент
	main.page-center-column.col-lg-6
		h1.heading Cтрічка новин
		.filter
			form(action='#', method='post')
				.filter-column
					label Переглянути за:
					select.filter-news-select(name='region')
						option(value='hide') Областю
						option(value='region-1') Київська
						option(value='region-2') Одеська
						option(value='region-3') Львівська
				.filter-column
					label Оберіть дату:
					select.filter-news-select(name='date')
						option(value='hide') 23.05.2017
						option(value='date-1') 23.05.2017
						option(value='date-2') 22.05.2017
						option(value='date-3') 21.05.2017
		.news-line
			.box
				.img
					img(src='img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a(href='news-photo.html')
						p.title На Харківщині судитимуть фармацевта, яка відпускала наркотики без рецепту
					p.data 06.07.2017 17:30
					p.text
						| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum являетсяспользуемый в печати и вэб-дизайне. Lorem...
				a.read-more(href='javascript:void(0);')
			.box
				.text-part.without-img
					a(href='news-video.html')
						p.title На Харківщині судитимуть фармацевта, яка відпускала наркотики без рецепту
					p.data 06.07.2017 17:30
					p.text
						| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum являетсяспользуемый в печати и вэб-дизайне. Lorem...
				a.read-more(href='javascript:void(0);')
			.box
				a(href='javascript:void(0);')
					.img
						img(src='img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a(href='javascript:void(0);')
						p.title На Харківщині судитимуть фармацевта, яка відпускала наркотики без рецепту
					p.data 06.07.2017 17:30
					p.text
						| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum являетсяспользуемый в печати и вэб-дизайне. Lorem...
				a.read-more(href='javascript:void(0);')
			.box
				.text-part.without-img
					a(href='javascript:void(0);')
						p.title На Харківщині судитимуть фармацевта, яка відпускала наркотики без рецепту
					p.data 06.07.2017 17:30
					p.text
						| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum являетсяспользуемый в печати и вэб-дизайне. Lorem...
				a.read-more(href='javascript:void(0);')
			.box
				a(href='javascript:void(0);')
					.img
						img(src='img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a(href='javascript:void(0);')
						p.title На Харківщині судитимуть фармацевта, яка відпускала наркотики без рецепту
					p.data 06.07.2017 17:30
					p.text
						| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum являетсяспользуемый в печати и вэб-дизайне. Lorem...
				a.read-more(href='javascript:void(0);')
			.box.last
				.text-part.without-img
					a(href='javascript:void(0);')
						p.title На Харківщині судитимуть фармацевта, яка відпускала наркотики без рецепту
					p.data 06.07.2017 17:30
					p.text
						| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum являетсяспользуемый в печати и вэб-дизайне. Lorem...
				a.read-more(href='javascript:void(0);')
			.text-center.box-pagination
				ul.pagination
					li.prev
						a(href='javascript:void(0);') <
					li
						a(href='javascript:void(0);') 1
					li
						a(href='javascript:void(0);') 2
					li
						a(href='javascript:void(0);') 3
					li
						a(href='javascript:void(0);') 4
					li.active
						a(href='javascript:void(0);') 5
					li.next
						a(href='javascript:void(0);') >
