// Левая колонка
nav.page-left-column.col-lg-3
	ul
		li.main
			a(href='news.html') СТРІЧКА НОВИН
		li
			a(href='news-feed.html') ПРАВОЗАХИСТ
		li
			a(href='news-feed.html') ПОДІЇ
		li
			a(href='news-feed.html') ЗЛОЧИНИ
		li
			a(href='news-feed.html') ДТП
		li
			a(href='news-feed.html') ХАБАРІ
		li
			a(href='news-feed.html') КОМЕНТАРІ
	ul
		li.main
			a(href='online.html') ТЕЛЕКАНАЛ ЧП.ІНФО
		li
			a(href='news-video.html') ВІДЕОНОВИНИ
		li
			a(href='news-video.html') СПЕЦРЕПОРТАЖ
		li
			a(href='news-video.html') ІНТЕРВЬЮ
		li
			a(href='news-video.html') ВІДКРИТИМ ТЕКСТОМ
		li
			a(href='online.html') онлайн трансляція
	ul.alone
		li.main
			a(href='radio.html') РАДІО МАГНОЛІЯ
	ul.alone
		li.main
			a(href='experts.html') ДУМКА ЕКСПЕРТА
	ul
		li.main
			a(href='interactive.html') ІНТЕРАКТИВ
		li
			a(href='socials.html') СОЦІАЛЬНІ МЕРЕЖІ
		li
			a(href='blog.html') БЛОГИ
		li
			a(href='search.html') «ШУКАЮ СВІДКІВ!»
		li
			a(href='quiz.html') ОПИТУВАННЯ
		li
			a(href='search-advert.html') НАПИСАТИ ЛИСТА
	.search-box
		form(action='#', method='post')
			.search
				input(type='text', placeholder='Пошук')
				button.search-submit-btn(type='submit')
		.box-links
			a(href='javascript:void(0);')
				img(src='static/img/icons/rss_blue.png', width='21', height='21', alt='Иконка RSS')
			a(href='javascript:void(0);')
				img(src='static/img/icons/facebook_blue.png', width='13', height='23', alt='Иконка Facebook')
			a(href='javascript:void(0);')
				img(src='static/img/icons/tweet_blue.png', width='25', height='21', alt='Иконка Twitter')
			a(href='javascript:void(0);')
				img(src='static/img/icons/google_blue.png', width='33', height='20', alt='Иконка Google Plus')
			a(href='javascript:void(0);')
				img(src='static/img/icons/youtube_blue.png', width='53', height='24', alt='Иконка YouTube')
