extends ../layout/main

block title
	| Блог

	- var page = "blog"

block content
	.container
		.content
			.row
				include ../modules/left-column
				// Основной контент
				main.page-center-column.col-lg-6
					h1.inner-title Блоги журналістів
					.filter
						form(action='#', method='post')
							label Переглянути за:
							select.filter-news-select(name='author')
								option(value='hide') Автором
								option(value='author-1') Автором
								option(value='author-2') Автором
								option(value='author-3') Автором
					.news-line
						.box
							.img
								a(href='blog-inner.html')
									img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
							.text-part
								a(href='blog-inner.html')
									p.title
										| Вікторія Куценко
										br
										| У Раді хочуть саджати на 3 роки
										br
										| ураїнських артистів за виступи
										br
										| в Росії. ВІДЕО
								p.data 06.07.2017 17:30
								.box-more
									span.box-more-watch 250
									span.box-more-comment 0
							a.learn-more-link(href='blog-inner.html')
						.box
							.img
								a(href='blog-inner.html')
									img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
							.text-part
								a(href='blog-inner.html')
									p.title
										| Вікторія Куценко
										br
										| У Раді хочуть саджати на 3 роки
										br
										|  ураїнських артистів за виступи
										br
										| в Росії. ВІДЕО
								p.data 06.07.2017 17:30
								.box-more
									span.box-more-watch 250
									span.box-more-comment 0
							a.learn-more-link(href='blog-inner.html')
						.box
							.img
								a(href='blog-inner.html')
									img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
							.text-part
								a(href='blog-inner.html')
									p.title
										| Вікторія Куценко
										br
										| У Раді хочуть саджати на 3 роки
										br
										| ураїнських артистів за виступи
										br
										| в Росії. ВІДЕО
								p.data 06.07.2017 17:30
								.box-more
									span.box-more-watch 250
									span.box-more-comment 0
							a.learn-more-link(href='blog-inner.html')
						.box
							.img
								a(href='blog-inner.html')
									img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
							.text-part
								a(href='blog-inner.html')
									p.title
										| Вікторія Куценко
										br
										| У Раді хочуть саджати на 3 роки
										br
										| ураїнських артистів за виступи
										br
										| в Росії. ВІДЕО
								p.data 06.07.2017 17:30
								.box-more
									span.box-more-watch 250
									span.box-more-comment 0
							a.learn-more-link(href='blog-inner.html')
						.box
							.img
								a(href='blog-inner.html')
									img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
							.text-part
								a(href='blog-inner.html')
									p.title
										| Вікторія Куценко
										br
										| У Раді хочуть саджати на 3 роки
										br
										| ураїнських артистів за виступи
										br
										| в Росії. ВІДЕО
								p.data 06.07.2017 17:30
								.box-more
									span.box-more-watch 250
									span.box-more-comment 0
							a.learn-more-link(href='blog-inner.html')
						.box.last
							.img
								a(href='blog-inner.html')
									img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
							.text-part
								a(href='blog-inner.html')
									p.title
										| Вікторія Куценко
										br
										| У Раді хочуть саджати на 3 роки
										br
										| ураїнських артистів за виступи
										br
										| в Росії. ВІДЕО
								p.data 06.07.2017 17:30
								.box-more
									span.box-more-watch 250
									span.box-more-comment 0
							a.learn-more-link(href='blog-inner.html')
						.text-center.box-pagination
							ul.pagination
								li.prev
									a(href='javascript:void(0);') <
								li
									a(href='javascript:void(0);') 1
								li
									a(href='javascript:void(0);') 2
								li
									a(href='javascript:void(0);') 3
								li
									a(href='javascript:void(0);') 4
								li.active
									a(href='javascript:void(0);') 5
								li.next
									a(href='javascript:void(0);') >

				include ../modules/right-column