extends ../layout/main

block title
	| Головна

	- var page = "main"

block content
	// Контентная часть
	main
		.container.index-container
			.row
				.col-12
					h1 МУЛЬТИМЕДІЙНА ПЛАТФОРМА
					img.main-logo(src='static/img/logo-main.png', width='486', height='210', alt='Основной логотип')
					.block
						a.box(href='news.html')
							.img
								img(src='static/img/icons/news.png', width='79', height='87', alt='Иконка новости')
							.p
								p стрічка новин
						a.box(href='online.html')
							.img
								img(src='static/img/icons/camera.png', width='143', height='56', alt='Иконка телеканал')
							.p
								p телеканал ЧП.INFO
						a.box(href='radio.html')
							.img
								img(src='static/img/icons/radio.png', width='97', height='95', alt='Иконка радио')
							.p
								p радіо магнолія
						a.box(href='interactive.html')
							.img
								img(src='static/img/icons/interactive.png', width='162', height='82', alt='Иконка интерактив')
							.p
								p інтерактив
