extends ../layout/main

block title
	| Інтерактив

	- var page = "interactive"

block content
	.container
		.content
			.row
				include ../modules/left-column
				// Основной контент
				main.page-center-column.col-lg-6
					h1.heading ІНТЕРАКТИВ
					.news-line
						.box.last
							h2.title СТОРІНКИ В СОЦІАЛЬНИХ МЕРЕЖАХ
							.box-body
								.box-body-content
									// <img src="static/img/some-img.jpg" alt="Some img">
								p
									| Підписуйтесь на сторінки Магнолії-ТВ в соціальних мережах, слідкуйте за
									| оновленнями!
						.box.box-inner
							h2.title БЛОГИ ЖУРНАЛІСТІВ
							.box-inner-items
								.row
									.col-lg-6.box-inner-item
										.image-part
											a(href="blog-inner.html")
												img(src='static/img/sidebar/small_img.png', width='99', height='99', alt='Small image')
										.text-part
											a(href="blog-inner.html")
												span Валентин Гладких Кандидат
											a(class="quiz-link" href='quiz.html') Чи зможе суд довести держзраду Януковича?
									.col-lg-6.box-inner-item
										.image-part
											a(href="blog-inner.html")
												img(src='static/img/sidebar/small_img.png', width='99', height='99', alt='Small image')
										.text-part
											a(href="blog-inner.html")
												span Валентин Гладких Кандидат
											a(class="quiz-link" href='quiz.html') Чи зможе суд довести держзраду Януковича?
								.row
									.col-lg-6.box-inner-item
										.image-part
											a(href="blog-inner.html")
												img(src='static/img/sidebar/small_img.png', width='99', height='99', alt='Small image')
										.text-part
											a(href="blog-inner.html")
												span Валентин Гладких Кандидат
											a(class="quiz-link" href='quiz.html') Чи зможе суд довести держзраду Януковича?
									.col-lg-6.box-inner-item
										.image-part
											a(href="blog-inner.html")
												img(src='static/img/sidebar/small_img.png', width='99', height='99', alt='Small image')
										.text-part
											a(href="blog-inner.html")
												span Валентин Гладких Кандидат
											a(class="quiz-link" href='quiz.html') Чи зможе суд довести держзраду Януковича?
							.box-inner-more
								a(href='blog.html') Більше
						.box.box-inner
							h2.title ОГОЛОШЕННЯ ШУКАЮ СВІДКІВ!
							.box-inner-items
								.row
									.col-lg-6.box-inner-item
										.image-part
											a(href="search-inner.html")
												img(src='static/img/sidebar/small_img.png', width='99', height='99', alt='Small image')
										.text-part
											a(href="search-inner.html")
												span Валентин Гладких Кандидат
											a(class="quiz-link" href='quiz.html') Чи зможе суд довести держзраду Януковича?
									.col-lg-6.box-inner-item
										.image-part
											a(href="search-inner.html")
												img(src='static/img/sidebar/small_img.png', width='99', height='99', alt='Small image')
										.text-part
											a(href="search-inner.html")
												span Валентин Гладких Кандидат
											a(class="quiz-link" href='quiz.html') Чи зможе суд довести держзраду Януковича?
								.row
									.col-lg-6.box-inner-item
										.image-part
											a(href="search-inner.html")
												img(src='static/img/sidebar/small_img.png', width='99', height='99', alt='Small image')
										.text-part
											a(href="search-inner.html")
												span Валентин Гладких Кандидат
											a(class="quiz-link" href='quiz.html') Чи зможе суд довести держзраду Януковича?
									.col-lg-6.box-inner-item
										.image-part
											a(href="search-inner.html")
												img(src='static/img/sidebar/small_img.png', width='99', height='99', alt='Small image')
										.text-part
											a(href="search-inner.html")
												span Валентин Гладких Кандидат
											a(class="quiz-link" href='quiz.html') Чи зможе суд довести держзраду Януковича?
							.box-inner-more
								a(href='search.html') Більше
						.box.box-quiz
							h2.title Опитування
							.box-quiz-content
								.box-quiz-content-image
									a(href="quiz.html")
										img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Image')
								.box-quiz-content-text
									h3
										| Депутати хочуть ввести кримінальну відповідальність для артистів, які виступають в РФ. Чи підтримуєти ви таку ініциативу?
									a(href='quiz.html') 475 голосів,  відкрите
								a.box-quiz-more-link(href='quiz.html')
						.box.box-quiz-last
							.box-quiz-content
								.box-quiz-content-image
									a(href="quiz.html")
										img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Image')
								.box-quiz-content-text
									h3
										| Депутати хочуть ввести кримінальну відповідальність для артистів, які виступають в РФ. Чи підтримуєти ви таку ініциативу?
									a(href='quiz.html') 475 голосів,  відкрите
								a.box-quiz-more-link(href='quiz.html')
							.box-inner-more
								a(href='quiz.html') Більше
						.news-line-form
							h2.title написати листа
							p Якщо Ви бажаєте повідомити новину….
							form(action='#')
								.news-line-form-block
									label(for='user-name') Ім'я
									input#user-name(name='usr-name', type='text', required='')
								.news-line-form-block
									label(for='user-email') E-mail
									input#user-email(name='usr-email', type='email', required='')
								.news-line-form-block
									label(for='user-phone') Контактний телефон
									input#user-phone(name='usr-name', type='text', required='')
								.news-line-form-block
									label(for='user-message') Ваше повідомлення:
									textarea#user-message(name='usr-message')
								.news-line-form-block.news-line-form-block--captcha
									label(for='user-captcha') Введіть код
									.captcha-img
										img(src='static/img/captcha.jpg', width='264', height='73', alt='Captcha image')
									input#user-captcha(name='usr-captcha', type='text', required='')
								button(type='submit') надіслати

				include ../modules/right-column