extends ../layout/main

block title
	| Події

	- var page = "news-photo"

block content
	.container
		.content
			.row
				include ../modules/left-column
				// Основной контент
				main.page-center-column.col-lg-6
					h1.heading Події
					.news-line
						.box.last
							h2.title На Дніпропетровщині пожежні в останню мить врятували чоловіка та жінку. ФОТО
							.box-head
								time(datetime='2017-07-07T17:30') 07.07.2017 17:30
								.box-head-more
									span.box-head-watch 250
									span.box-head-comment 0
							.box-body
								.box-items
									.box-item
										img(src='static/img/photo-news_1.jpg', width='663', height='440', alt='Фото новости')
										.box-item-content
											span.box-item-cat Фото: Дмитра Іванова
											p
												| О 15:58 до Служби порятунку «101» надійшло повідомлення про пожежу в 5-ти  поверховому житловому будинку, якій знаходиться на  вулиці Мира міста Синельникове.
									.box-item
										img(src='static/img/photo-news_2.jpg', width='900', height='600', alt='Фото новости')
										.box-item-content
											span.box-item-cat Фото: Дмитра Іванова
											p
												| По прибуттю на місце пожежі було встановлено, що горить однокімнатна квартира на четвертому поверсі. Через сильне задимлення рятувальники працювали в апаратах на стисненому повітрі
									.box-item
										img(src='static/img/photo-news_1.jpg', width='663', height='440', alt='Фото новости')
										.box-item-content
											span.box-item-cat Фото: Дмитра Іванова
											p
												| У квартирі у непритомному стані знаходились чоловік та жінка. Рятувальники винесли постраждалих, обоє 1975 року народження,  на сходову клітину та стали надавати першу домедичну допомогу. Вогнеборці привіли постраждалих до тями та передали їх співробітникам служби «103», які  направили їх до районної лікарні.
									.box-body-more
										a.read-more-link(href='news-video.html')
											span.read-more-text Читати:
											|  Аварія у Києві. Три машини-учасники, троє постраждалих
										p
											| О 16:40 пожежа локалізована, а о 17:00 повністю ліквідована.
											br
											|                          Вогнем пошкоджено домашні речі та меблі на площі 15 квадратних квадратних.
											br
											|                          Для ліквідації пожежі залучено 2 одиниці пожежно-рятувальної техніки та 6 чоловік особового складу.
							.socials-links
								a.socials-link.socials-link-fb(href='javascript:void(0);')
								a.socials-link.socials-link-tweet(href='javascript:void(0);')
								a.socials-link.socials-link-comment(href='javascript:void(0);')
									span Коментувати

						p.news-line-join Приєднуйтесь до "Магнолія-ТВ" на Facebook!
						.news-line-tags
							span Теги:
							a(href='javascript:void(0);') м.Київ
							a(href='javascript:void(0);') відео новина
							a(href='javascript:void(0);') ДТП
							a(href='javascript:void(0);') ДТП Київ
							a(href='javascript:void(0);') ДТП Киев
							a(href='javascript:void(0);') Київ ЧП.INFO
						.news-line-stuff
							span За матеріалами:
							a(href='javascript:void(0);') Прес-служби ДСНС у Дніпропетровській області.
						.primary-breadcrumbs
							ul
								li
									a(href='index.html') Головна
								li
									a(href='news.html') Стрічка новин
								li.active
									span Події

				include ../modules/right-column