extends ../layout/main

block title
	| ДТП

	- var page = "news-video"

block content
	.container
		.content
			.row
				include ../modules/left-column
				// Основной контент
				main.page-center-column.col-lg-6
					h1.inner-title ДТП
					.news-line
						.box.last
							h2.title У Києві крадений Range Rover протаранив поліцейський Prius. ВІДЕО
							.box-head
								time(datetime='2017-07-07T17:30') 07.07.2017 17:30
								.box-head-more
									span.box-head-watch 250
									span.box-head-comment 0
							.box-body
								.box-items
									.box-item
										iframe(height='300', src='https://www.youtube.com/embed/mmVCm4OkkZk', allowfullscreen='')
										.box-item-content
											span.box-item-cat Відео: Дмитра Іванова
											p
												| Розбита поліцейська машина та вкрадена коштовна іномарка.Такі наслідки нічного «бойовика» у Києві…
												br
												|                            Патрульні поліцейські за лічені хвилини вже були на місці події. Подробиці у сюжеті.
									.box-body-more
										a.read-more-link(href='news-photo.html')
											span.read-more-text Читати:
											|  Аварія у Києві. Три машини-учасники, троє постраждалих
										p
											| Розбита поліцейська машина та вкрадена коштовна іномарка.Такі наслідки нічного «бойовика» у Києві…
											br
											|                          Патрульні поліцейські за лічені хвилини вже були на місці події. Подробиці у сюжеті.
								.socials-links
									a.socials-link.socials-link-fb(href='javascript:void(0);')
									a.socials-link.socials-link-tweet(href='javascript:void(0);')
									a.socials-link.socials-link-comment(href='javascript:void(0);')
										span Коментувати

						p.news-line-join Приєднуйтесь до "Магнолія-ТВ" на Facebook!
						.news-line-tags
							span Теги:
							a(href='javascript:void(0);') м.Київ
							a(href='javascript:void(0);') відео новина
							a(href='javascript:void(0);') ДТП
							a(href='javascript:void(0);') ДТП Київ
							a(href='javascript:void(0);') ДТП Киев
							a(href='javascript:void(0);') Київ ЧП.INFO
						.news-line-stuff
							span За матеріалами:
							a(href='javascript:void(0);') Прес-служби ДСНС у Дніпропетровській області.
						.primary-breadcrumbs
							ul
								li
									a(href='index.html') Головна
								li
									a(href='news.html') Стрічка новин
								li.active
									span ДТП

				include ../modules/right-column