extends ../layout/main

block title
	| Блог

	- var page = "socials"

block content
	.container
		.content
			.row
				include ../modules/left-column
				// Основной контент
				main.page-center-column.col-lg-6
					h1.inner-title СТОРІНКИ В СОЦІАЛЬНИХ МЕРЕЖАХ
					.news-line
						.box
							.box-body
								.box-body-content
									// <img src="static/img/some-img.jpg" alt="Some img">
								p
									| Підписуйтесь на сторінки Магнолії-ТВ в соціальних мережах, слідкуйте за
									| оновленнями!
				include ../modules/right-column