// Правая колонка
aside.page-right-column.col-lg-3
	.content-box

		.add_block
			a(href='javascript:void(0);')
				img.ad-image(src='static/img/sidebar/ad(1).png', width='300', height='250', alt='Рекламный блок')
			a.alert_news(href='javascript:void(0);')
				img(src='static/img/icons/alert_news.png', width='23', height='18', alt='Иконка громофона')
				span Повідомити новину
			a(href='javascript:void(0);')
				img.ad-image(src='static/img/sidebar/ad(2).png', width='300', height='250', alt='Рекламный блок')

		.tracing
			p.heading СЛУЖБА РОЗШУКУ ДІТЕЙ
			.small_box
				a(href='news-photo.html')
					img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a.title(href='news-photo.html') На Київщині зникла 14-річна Крістіна
					p.data 06.07.2017 17:30
			.small_box
				a(href='news-photo.html')
					img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a.title(href='news-photo.html') На Київщині зникла 14-річна Крістіна
					p.data 06.07.2017 17:30
			.small_box
				a(href='news-photo.html')
					img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					a.title(href='news-photo.html') На Київщині зникла 14-річна Крістіна
					p.data 06.07.2017 17:30
			a.learn_more(href='news-feed.html') Більше

		.quiz
			p.heading Опитування
			.box
				a(href='javascript:void(0);')
					img(src='static/img/sidebar/aside(3).png', width='301', height='168', alt='Картинка опроса')
				form(action='#', method='post')
					p.title
						| Чи потрібно ввести кримінальну відповідальність для українських артистів за виступи в Росії?
					ul.quiz-option
						li
							label.h Варіанти відповіді:
						li
							input#f-option(name='selector', type='radio', value='quiz-yes')
							label(for='f-option') Так
							.check
						li
							input#s-option(name='selector', type='radio', value='quiz-no')
							label(for='s-option') Ні
							.check
								.inside
						li
							input#t-option(type='radio', name='selector', value='quiz-other', checked='')
							label(for='t-option') Інша думка
							.check
								.inside
					button.vote(type='submit') Голосувати

		.tracing.expert-mind
			p.heading Думка експертів
			.small_box
				a(href='experts-inner.html')
					img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					p.title Валентин Гладких Кандидат філософських наук
					a.data.text(href='experts-inner.html') Чи зможе суд довести держзраду Януковича?
			.small_box
				a(href='experts-inner.html')
					img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					p.title Валентин Гладких Кандидат філософських наук
					a.data.text(href='experts-inner.html') Чи зможе суд довести держзраду Януковича?
			.small_box
				a(href='experts-inner.html')
					img(src='static/img/sidebar/news-line_photo.png', width='243', height='218', alt='Фото новости')
				.text-part
					p.title Валентин Гладких Кандидат філософських наук
					a.data.text(href='experts-inner.html') Чи зможе суд довести держзраду Януковича?
			a.learn_more(href='experts.html') Більше

		.tracing.blogs
			p.heading Шукаю свідків
			.small_box
				a(href='search-inner.html')
					img(src='static/img/sidebar/small_img(car).png', width='99', height='99', alt='Фото новости')
				.text-part
					a.title(href='search-inner.html') На Київщині зникла 14-річна Крістіна
					p.data 06.07.2017 17:30
			.small_box
				a(href='search-inner.html')
					img(src='static/img/sidebar/small_img(signature).png', width='99', height='99', alt='Фото новости')
				.text-part
					a.title(href='search-inner.html') На Київщині зникла 14-річна Крістіна
					p.data 06.07.2017 17:30
			.small_box
				a(href='search-inner.html')
					img(src='static/img/sidebar/small_img.png', width='99', height='99', alt='Фото новости')
				.text-part
					a.title(href='search-inner.html') На Київщині зникла 14-річна Крістіна
					p.data 06.07.2017 17:30
			a.learn_more(href='search.html') Більше
