// Основной подвал
footer
	.container
		ul
			li
				a(href='javascript:void(0);') Про нас
			li
				a(href='javascript:void(0);') Контакти
			li
				a(href='javascript:void(0);') Правила користування сайтом
			li
				a(href='javascript:void(0);') Карта сайту
		.links
			.box
				a(href='javascript:void(0);')
					img(src='img/icons/rss.png', width='21', height='21', alt='RSS иконка')
				a(href='javascript:void(0);')
					img(src='img/icons/facebook.png', width='13', height='23', alt='Facebook иконка')
				a(href='javascript:void(0);')
					img(src='img/icons/twet.png', width='25', height='21', alt='Tweeter иконка')
				a(href='javascript:void(0);')
					img(src='img/icons/google.png', width='33', height='20', alt='Google иконка')
				a(href='javascript:void(0);')
					img(src='img/icons/youtube.png', width='53', height='24', alt='Youtube иконка')
			p Всі права захищені © Магнолія-ТВ
