// Правая колонка
aside.page-right-column.col-lg-3
	.content-box
		.add_block
			a(href='javascript:void(0);')
				img(src='img/sidebar/ad(1).png', width='300', height='250', alt='Рекламный блок')
			a.alert_news(href='javascript:void(0);')
				img(src='img/icons/alert_news.png', width='23', height='18', alt='Иконка громофона')
				span Повідомити новину
			a(href='javascript:void(0);')
				img.add(src='img/sidebar/ad(2).png', width='300', height='250', alt='Рекламный блок')
		.tracing
			p.heading СЛУЖБА РОЗШУКУ ДІТЕЙ
			.small_box
				a(href='news-photo.html')
					img(src='img/sidebar/small_img.png', width='99', height='99', alt='Фото новости')
				.text-part
					a.title(href='news-photo.html') На Київщині зникла 14-річна Крістіна
					p.data 06.07.2017 17:30
			.small_box
				a(href='news-photo.html')
					img(src='img/sidebar/small_img.png', width='99', height='99', alt='Фото новости')
				.text-part
					a.title(href='news-photo.html') На Київщині зникла 14-річна Крістіна
					p.data 06.07.2017 17:30
			.small_box
				a(href='news-photo.html')
					img(src='img/sidebar/small_img.png', width='99', height='99', alt='Фото новости')
				.text-part
					a.title(href='news-photo.html') На Київщині зникла 14-річна Крістіна
					p.data 06.07.2017 17:30
			a.learn_more(href='news-feed.html') Більше
		.tracing.expert-mind
			p.heading Думка експертів
			.small_box
				a(href='experts.html')
					img(src='img/sidebar/small_img.png', width='99', height='99', alt='Фото новости')
				.text-part
					p.title Валентин Гладких Кандидат філософських наук
					a.data.text(href='experts.html') Чи зможе суд довести держзраду Януковича?
			.small_box
				a(href='experts.html')
					img(src='img/sidebar/small_img.png', width='99', height='99', alt='Фото новости')
				.text-part
					p.title Валентин Гладких Кандидат філософських наук
					a.data.text(href='experts.html') Чи зможе суд довести держзраду Януковича?
			.small_box
				a(href='experts.html')
					img(src='img/sidebar/small_img.png', width='99', height='99', alt='Фото новости')
				.text-part
					p.title Валентин Гладких Кандидат філософських наук
					a.data.text(href='experts.html') Чи зможе суд довести держзраду Януковича?
			a.learn_more(href='javascript:void(0);') Більше
